<main>
  <div class="background-logo">
    <svg class="background-logo__logo" width="750" height="284" aria-hidden="true">
      <use xlink:href="#logo-big"></use>
    </svg>
    <svg class="background-logo__icon" width="343" height="343" aria-hidden="true">
      <use xlink:href="#icon-logotype"></use>
    </svg>
  </div>
  <div class="popup-form popup-form--sign-in">
    <div class="popup-form__wrapper">
      <div class="popup-form__content">
        <div class="popup-form__title-wrapper">
          <h1 class="popup-form__title">Вход</h1>
        </div>
        <div class="popup-form__form">
          <form method="get">
            <div class="sign-in">
              <div class="custom-input sign-in__input">
                <label>
                  <span class="custom-input__label">E-mail</span>
                  <span class="custom-input__wrapper">
                    <input type="email" name="email">
                  </span>
                </label>
              </div>
              <div class="custom-input sign-in__input">
                <label>
                  <span class="custom-input__label">Пароль</span>
                  <span class="custom-input__wrapper">
                    <input type="password" name="password">
                  </span>
                </label>
              </div>
              <button class="btn sign-in__button" type="submit">Продолжить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
