<main>
  <div class="background-logo">
    <svg class="background-logo__logo" width="750" height="284" aria-hidden="true">
      <use xlink:href="#logo-big"></use>
    </svg>
    <svg class="background-logo__icon" width="343" height="343" aria-hidden="true">
      <use xlink:href="#icon-logotype"></use>
    </svg>
  </div>
  <div class="popup-form popup-form--questionnaire-coach">
    <div class="popup-form__wrapper">
      <div class="popup-form__content">
        <div class="popup-form__form">
          <form method="get">
            <div class="questionnaire-coach">
              <h1 class="visually-hidden">Опросник</h1>
              <div class="questionnaire-coach__wrapper">
                <div class="questionnaire-coach__block">
                  <span class="questionnaire-coach__legend">Ваша специализация (тип) тренировок</span>
                  <div class="specialization-checkbox questionnaire-coach__specializations">
                    <div
                      *ngFor="let trainingType of trainingTypes"
                      class="btn-checkbox"
                    >
                      <label>
                        <input
                          [checked]="selectedTrainigTypes.includes(trainingType)"
                          (change)="handleTrainingTypeInputChange(trainingType)"
                          class="visually-hidden" type="checkbox" name="specialisation" [value]="trainingType"
                        >
                        <span class="btn-checkbox__btn">
                          {{trainingType}}
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="questionnaire-coach__block">
                  <span class="questionnaire-coach__legend">Ваш уровень</span>
                  <div class="custom-toggle-radio custom-toggle-radio--big questionnaire-coach__radio">
                    <div
                      *ngFor="let trainingLevel of trainingLevels"
                      class="custom-toggle-radio__block"
                    >
                      <label>
                        <input
                          [checked]="selectedTrainingLevel === trainingLevel"
                          (change)="handleTrainingLevelInputChange(trainingLevel)"
                          type="radio" name="level"
                        >
                        <span class="custom-toggle-radio__icon"></span>
                        <span class="custom-toggle-radio__label">
                          {{trainingLevel}}
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="questionnaire-coach__block">
                  <span class="questionnaire-coach__legend">Ваши дипломы и сертификаты</span>
                  <div class="drag-and-drop questionnaire-coach__drag-and-drop">
                    <label>
                      <span class="drag-and-drop__label" tabindex="0">Загрузите сюда файлы формата PDF, JPG или PNG
                        <svg width="20" height="20" aria-hidden="true">
                          <use xlink:href="#icon-import"></use>
                        </svg>
                      </span>
                      <input
                        (change)="handleCertificateFileInputChange($event)"
                        type="file" name="import" tabindex="-1" accept=".pdf, .jpg, .png"
                      >
                    </label>
                  </div>
                </div>
                <div class="questionnaire-coach__block">
                  <span class="questionnaire-coach__legend">Расскажите о своём опыте, который мы сможем проверить</span>
                  <div class="custom-textarea questionnaire-coach__textarea">
                    <label>
                      <textarea
                        (change)="handleDescriptionTextAreaChange($event)"
                        name="description" placeholder=""
                        [value]="description"
                      ></textarea>
                    </label>
                  </div>
                  <div class="questionnaire-coach__checkbox">
                    <label>
                      <input
                        [checked]="isReadyToTrain"
                        (change)="handleReadyToTrainInputChange()"
                        type="checkbox" value="individual-training" name="individual-training"
                      >
                      <span class="questionnaire-coach__checkbox-icon">
                        <svg width="9" height="6" aria-hidden="true">
                          <use xlink:href="#arrow-check"></use>
                        </svg>
                      </span>
                      <span class="questionnaire-coach__checkbox-label">Хочу дополнительно индивидуально тренировать</span>
                    </label>
                  </div>
                </div>
              </div>
              <button
                (click)="handleSubmitButtonClick($event)"
                class="btn questionnaire-coach__button"
                type="submit"
              >
                Продолжить
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
