<main>
  <div class="background-logo">
    <svg class="background-logo__logo" width="750" height="284" aria-hidden="true">
      <use xlink:href="#logo-big"></use>
    </svg>
    <svg class="background-logo__icon" width="343" height="343" aria-hidden="true">
      <use xlink:href="#icon-logotype"></use>
    </svg>
  </div>
  <div class="popup-form popup-form--questionnaire-user">
    <div class="popup-form__wrapper">
      <div class="popup-form__content">
        <div class="popup-form__form">
          <form method="get">
            <div class="questionnaire-user">
              <h1 class="visually-hidden">Опросник</h1>
              <div class="questionnaire-user__wrapper">
                <div class="questionnaire-user__block">
                  <span class="questionnaire-user__legend">Ваша специализация (тип) тренировок</span>
                  <div class="specialization-checkbox questionnaire-user__specializations">
                    <div class="btn-checkbox">
                      <label>
                        <input class="visually-hidden" type="checkbox" name="specialisation" value="yoga">
                        <span class="btn-checkbox__btn">Йога</span>
                      </label>
                    </div>
                    <div class="btn-checkbox">
                      <label>
                        <input class="visually-hidden" type="checkbox" name="specialisation" value="running">
                        <span class="btn-checkbox__btn">Бег</span>
                      </label>
                    </div>
                    <div class="btn-checkbox">
                      <label>
                        <input class="visually-hidden" type="checkbox" name="specialisation" value="power" checked="checked">
                        <span class="btn-checkbox__btn">Силовые</span>
                      </label>
                    </div>
                    <div class="btn-checkbox">
                      <label>
                        <input class="visually-hidden" type="checkbox" name="specialisation" value="aerobics">
                        <span class="btn-checkbox__btn">Аэробика</span>
                      </label>
                    </div>
                    <div class="btn-checkbox">
                      <label>
                        <input class="visually-hidden" type="checkbox" name="specialisation" value="crossfit" checked="checked">
                        <span class="btn-checkbox__btn">Кроссфит</span>
                      </label>
                    </div>
                    <div class="btn-checkbox">
                      <label>
                        <input class="visually-hidden" type="checkbox" name="specialisation" value="boxing" checked="checked">
                        <span class="btn-checkbox__btn">Бокс</span>
                      </label>
                    </div>
                    <div class="btn-checkbox">
                      <label>
                        <input class="visually-hidden" type="checkbox" name="specialisation" value="pilates">
                        <span class="btn-checkbox__btn">Пилатес</span>
                      </label>
                    </div>
                    <div class="btn-checkbox">
                      <label>
                        <input class="visually-hidden" type="checkbox" name="specialisation" value="stretching">
                        <span class="btn-checkbox__btn">Стрейчинг</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="questionnaire-user__block">
                  <span class="questionnaire-user__legend">Сколько времени вы готовы уделять на тренировку в день</span>
                  <div class="custom-toggle-radio custom-toggle-radio--big questionnaire-user__radio">
                    <div class="custom-toggle-radio__block">
                      <label>
                        <input type="radio" name="time">
                        <span class="custom-toggle-radio__icon"></span>
                        <span class="custom-toggle-radio__label">10-30 мин</span>
                      </label>
                    </div>
                    <div class="custom-toggle-radio__block">
                      <label>
                        <input type="radio" name="time" checked>
                        <span class="custom-toggle-radio__icon"></span>
                        <span class="custom-toggle-radio__label">30-50 мин</span>
                      </label>
                    </div>
                    <div class="custom-toggle-radio__block">
                      <label>
                        <input type="radio" name="time">
                        <span class="custom-toggle-radio__icon"></span>
                        <span class="custom-toggle-radio__label">50-80 мин</span>
                      </label>
                    </div>
                    <div class="custom-toggle-radio__block">
                      <label>
                        <input type="radio" name="time">
                        <span class="custom-toggle-radio__icon"></span>
                        <span class="custom-toggle-radio__label">больше 80 мин</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="questionnaire-user__block">
                  <span class="questionnaire-user__legend">Ваш уровень</span>
                  <div class="custom-toggle-radio custom-toggle-radio--big questionnaire-user__radio">
                    <div class="custom-toggle-radio__block">
                      <label>
                        <input type="radio" name="level">
                        <span class="custom-toggle-radio__icon"></span>
                        <span class="custom-toggle-radio__label">Новичок</span>
                      </label>
                    </div>
                    <div class="custom-toggle-radio__block">
                      <label>
                        <input type="radio" name="level" checked>
                        <span class="custom-toggle-radio__icon"></span>
                        <span class="custom-toggle-radio__label">Любитель</span>
                      </label>
                    </div>
                    <div class="custom-toggle-radio__block">
                      <label>
                        <input type="radio" name="level">
                        <span class="custom-toggle-radio__icon"></span>
                        <span class="custom-toggle-radio__label">Профессионал</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="questionnaire-user__block">
                  <div class="questionnaire-user__calories-lose">
                    <span class="questionnaire-user__legend">Сколько калорий хотите сбросить</span>
                    <div class="custom-input custom-input--with-text-right questionnaire-user__input">
                      <label>
                        <span class="custom-input__wrapper">
                          <input type="number" name="calories-lose">
                          <span class="custom-input__text">ккал</span>
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="questionnaire-user__calories-waste">
                    <span class="questionnaire-user__legend">Сколько калорий тратить в день</span>
                    <div class="custom-input custom-input--with-text-right questionnaire-user__input">
                      <label>
                        <span class="custom-input__wrapper">
                          <input type="number" name="calories-waste">
                          <span class="custom-input__text">ккал</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn questionnaire-user__button" type="submit">Продолжить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
