<main>
  <div class="background-logo">
    <svg class="background-logo__logo" width="750" height="284" aria-hidden="true">
      <use xlink:href="#logo-big"></use>
    </svg>
    <svg class="background-logo__icon" width="343" height="343" aria-hidden="true">
      <use xlink:href="#icon-logotype"></use>
    </svg>
  </div>
  <div class="popup-form popup-form--questionnaire-user">
    <div class="popup-form__wrapper">
      <div class="popup-form__content">
        <div class="popup-form__form">
          <form method="get">
            <div class="questionnaire-user">
              <h1 class="visually-hidden">Опросник</h1>
              <div class="questionnaire-user__wrapper">
                <div class="questionnaire-user__block">
                  <span class="questionnaire-user__legend">Ваша специализация (тип) тренировок</span>
                  <div class="specialization-checkbox questionnaire-user__specializations">
                    <div
                      *ngFor="let trainingType of trainingTypes"
                      class="btn-checkbox"
                    >
                      <label>
                        <input
                          [checked]="selectedTrainigTypes.includes(trainingType)"
                          (change)="handleTrainingTypeInputChange(trainingType)"
                          class="visually-hidden" type="checkbox" name="specialisation" [value]="trainingType"
                        >
                        <span class="btn-checkbox__btn">
                          {{trainingType}}
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="questionnaire-user__block">
                  <span class="questionnaire-user__legend">Сколько времени вы готовы уделять на тренировку в день</span>
                  <div class="custom-toggle-radio custom-toggle-radio--big questionnaire-user__radio">
                    <div
                      *ngFor="let option of durationOptions"
                      class="custom-toggle-radio__block"
                    >
                      <label>
                        <input
                          [checked]="selectedDurationOption === option"
                          (change)="handleDurationInputChange(option)"
                          type="radio" name="time"
                        >
                        <span class="custom-toggle-radio__icon"></span>
                        <span class="custom-toggle-radio__label">
                          {{option}}
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="questionnaire-user__block">
                  <span class="questionnaire-user__legend">Ваш уровень</span>
                  <div class="custom-toggle-radio custom-toggle-radio--big questionnaire-user__radio">
                    <div
                      *ngFor="let trainingLevel of trainingLevels"
                      class="custom-toggle-radio__block"
                    >
                      <label>
                        <input
                          [checked]="selectedTrainingLevel === trainingLevel"
                          (change)="handleTrainingLevelInputChange(trainingLevel)"
                          type="radio" name="level"
                        >
                        <span class="custom-toggle-radio__icon"></span>
                        <span class="custom-toggle-radio__label">
                          {{trainingLevel}}
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="questionnaire-user__block">
                  <div class="questionnaire-user__calories-lose">
                    <span class="questionnaire-user__legend">Сколько калорий хотите сбросить</span>
                    <div class="custom-input custom-input--with-text-right questionnaire-user__input">
                      <label>
                        <span class="custom-input__wrapper">
                          <input
                            [value]="totalCaloriesCount"
                            (change)="handleTotalCaloriesCountInputChange($event)"
                            type="number" name="calories-lose"
                          >
                          <span class="custom-input__text">ккал</span>
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="questionnaire-user__calories-waste">
                    <span class="questionnaire-user__legend">Сколько калорий тратить в день</span>
                    <div class="custom-input custom-input--with-text-right questionnaire-user__input">
                      <label>
                        <span class="custom-input__wrapper">
                          <input
                            [value]="dailyCaloriesCount"
                            (change)="handleDailyCaloriesCountInputChange($event)"
                            type="number" name="calories-waste"
                          >
                          <span class="custom-input__text">ккал</span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <button
                (click)="handleSubmitButtonClick($event)"
                class="btn questionnaire-user__button" type="submit"
              >
                Продолжить
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
